body {
    font-family: Arial;
    margin: 0;
    background-color: #ffe4ec;
}

header {
    background-color: #ff69b4;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background-color: #ffb6c1;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

section {
    padding: 20px;
    text-align: center;
}

img {
    width: 200px;
    border-radius: 10px;
    margin: 10px;
}

footer {
    background-color: #ff69b4;
    color: white;
    text-align: center;
    padding: 10px;
}
